<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Foodlator"
        android:supportsRtl="true"
        android:theme="@style/Theme.BesinOlcer"
        tools:targetApi="31">
        <activity
            android:name=".Yemekler"
            android:exported="false" />
        <activity
            android:name=".YagliYiyecekler"
            android:exported="false" />
        <activity
            android:name=".KuruYemisler"
            android:exported="false" />
        <activity
            android:name=".EtUrunleri"
            android:exported="false" />
        <activity
            android:name=".Atistirmaliklar"
            android:exported="false" />
        <activity
            android:name=".CikolataveTatlilar"
            android:exported="false" />
        <activity
            android:name=".HamurIsleri"
            android:exported="false" />
        <activity
            android:name=".MeyveSebzeler"
            android:exported="false" />
        <activity
            android:name=".SutveSutUrunleri"
            android:exported="false" />
        <activity
            android:name=".KaloriSonuc"
            android:exported="false" />
        <activity
            android:name=".Anasayfa"
            android:exported="false" />
        <activity
            android:name=".KaloriHesap"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>